@page "/"
@inject IBooksService BooksService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<BookCard Book="_firstBook" WithButton="false" class="mt-3" />
<h3>Available Books:</h3>
<div style="display:flex">
    @foreach (var book in _books)
    {
        <BookCard Book="book" OnAddToCartClicked="AddToCart" />
    }
</div>
<h3 class="mt-3">My Cart</h3>
<ul>
    @foreach (var item in _booksCart)
    {
        <li>@item.Title</li>
    }
</ul>


@code
{

    private List<Book> _books = new(); 
    private List<Book> _booksCart = new();
    
    protected override async Task OnInitializedAsync()
    {
        _books = await BooksService.GetAllBooksAsync();
    }

    private Book _firstBook=new Book
    {
        Title = "The Catcher in the Rye",
        AuthorName = "J.D. Salinger",
        PublishingDate = new DateTime(1951, 7, 16)
    };

    private Book _secondBook=new Book
    {
        Title = "To Kill a Mockingbird",
        AuthorName = "Harper Lee",
        PublishingDate = new DateTime(1960, 7, 11)
    };

    private void AddToCart(Book selectedBook)
    { 
        _booksCart.Add(selectedBook);    
    }

    
}