<div style="border:1px solid black; padding:3px">
    <h6>Book 01</h6>
    <p>Author: Author Name</p>
    <p>Publishing date: 2022-07-02</p>
    <button style="width:100%">Add to Cart</button>
</div>

@code {

}
